<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="TRACE" monitorInterval="30" packages="com.vrivoire.imdbsearch.log4j">
	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout pattern="%-23d{yyyy/MM/dd HH:mm:ss.SSS} %-5p %c{1}.%M - %m%n"/>
		</Console>

		<RollingFile  name="FILE"
					  fileName="ImdbSearch.log"
					  append="true"
					  bufferedIO="true"
					  filePattern="ImdbSearch-%d{MM-dd-yyyy}.log">
			<PatternLayout pattern="%-23d{yyyy/MM/dd HH:mm:ss.SSS} %-5p %c{1}.%M - %m%n"/>
			<Policies>
				<CronTriggeringPolicy schedule="0 0 0,12 * * ?" />
			</Policies>
			<DefaultRolloverStrategy max="20"/>
		</RollingFile >

		<LogGrabber name="GRABBER">
			<PatternLayout pattern="%-23d{yyyy/MM/dd HH:mm:ss.SSS} %-5p %c{1}.%M - %m%n"/>
		</LogGrabber>

		<Async name="ASYNC">
			<AppenderRef ref="FILE"/>
			<AppenderRef ref="CONSOLE"/>
			<AppenderRef ref="GRABBER"/>
		</Async>
	</Appenders>
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="CONSOLE"/>
			<AppenderRef ref="FILE"/>
			<AppenderRef ref="GRABBER"/>
		</Root>
	</Loggers>
</Configuration>